<h3><%= @rockgym.name %></h3>
<div class="rockgym-show">
<% @rockgym.problems.each do |problem| %>

	<%= render 'problems/show', :problem => problem %>

<% end %>
</div>
<div class="problem-form">

	<%= render 'problems/form' %>

</div>
