<h3><%= @rockgym.name %></h3>
<div class="rockgym-show">
<% @rockgym.problems.each do |problem| %>

	<%= render 'problems/show', :problem => problem %>
	<%= link_to 'View Problem', rockgym_problem_path(@rockgym, problem) %>
<% end %>
</div>

<%= render 'problems/form' %>

