
<div class="review">
<p>Pic Placeholder</p>
<p>Username: <%= review.climber.username %></p>
<p>Body: <%= review.body %></p>
<p>For its rating, this route was <%=review.rating_string%>.</p>
</br>
</div>